<h3>Directive</h3>
<p>Custom Directive</p>
<div appHoverHighlight style="width: 200px; height: 100px; border: 1px solid black;">
  Hover over me to see the highlight effect!
</div>
<!-- these are used to Ngfor and NgIf condition -->
<p>Structural Directive</p>
<div *ngFor="let data of data">
<p *ngIf="data.name == 'test3'">{{data.name}}</p>
</div>

<p>attribute Directive</p>

<div *ngFor="let data of data">
  <p [ngStyle]="{'background-color': data.name == 'test3' ? '' : 'green'}">{{data.name}}</p>
  <p [ngClass]="{demo:  data.name == 'test2' }">{{data.name}}</p>
  </div>
<button type="button"(click)="isNext()">Next</button>
