<!-- <app-parent></app-parent>
<app-dependency></app-dependency>
<app-observable></app-observable>
<a routerLink="/router-example">Go to Router Example</a> -->
<router-outlet></router-outlet>
<!-- <app-template-driven-form></app-template-driven-form>
<app-reactive-form-example></app-reactive-form-example>
<app-test-example></app-test-example>
<app-binding></app-binding>
<app-pipe></app-pipe>
<app-directive></app-directive>
<app-http-client></app-http-client>
<app-signal></app-signal>
<app-lazy></app-lazy> -->
